@media all and (max-width: 900px) {
.teer {
	float: none;
	text-align: center;
	width: 100%;
	

}
.tree {
	float: none;
	overflow: hidden;
	text-align: center;
	width: 100%;

}
.train {
	float: none;
	overflow: hidden;
	text-align: center;
	width: 100%;
	

}
.art {
	margin: 60px 0;

}
.img2 {
	padding: 0px 0;

}
.photo {
	float: left;
	width: 50%;
	padding: 35px 0 55px 0;

}
.logo img {
	float: none;
}
.logo {
	text-align: center;
	margin-bottom: 25px;
}
.menu ul {
	margin: 0;
	padding: 0;
	text-align: center;
	float: none;
}
.image1 {
	float: none;
	overflow: hidden;
	text-align: center;

}
}
@media all and (max-width: 768px) {
.menu ul li {
	margin-left: 40px;
}
.photo {
	float: none;
	width: 100%;
	text-align: center;
}
.menu ul {
	margin: 0;
	padding: 0;
	text-align: center;
	float: none;
}
.foot {
	float: none;
}
.footer {
	float: none;
}
}
@media all and (max-width: 500px) {

.menu ul li {
	margin-left: 0px;
}
.menu ul {
	margin: 0;
	padding: 0;
	text-align: center;
	float: none;
}

}