body {
	margin: 0;


}
.logo img {
	float: left;
	overflow: hidden;
}
.container {
	width: 80%;
	margin: 0 auto;

}
.menu ul li {
	float: left;
	margin-left: 110px;
	list-style: none;
}
.menu ul {
	margin: 0;
	float: right;
}
.menu ul li a {
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	color: #A7A7A7;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	padding: 8px 20px;
	letter-spacing: 1px;
}
.menu ul li:hover a {
	background: #7F8C8D;
	color: #FFFFFF;
	border-radius: 5px;


}
.text {
	clear: both;
	padding: 40px 0 50px 0;
}
.image {
	background: url("image/sky.png");
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 105px 0 170px 0;
}
.image h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	color: #303030;
	font-weight: 600;
}
.image i {
	color: #80836E;
	font-size: 18px;
}
.work {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}
.work h1 {
	font-size: 33px;
	text-transform: uppercase;
	color: #313131;
	margin-bottom: 6px;
}
.work hr {
	width: 230px;
	border: 1px solid #303030;

}
.work p {
	color: #5A5A5A;
	font-size: 18px;
	font-weight: normal;
}
.teer {
	float: left;
	overflow: hidden;
	width: 33.33%;

}
.img1 {
	margin: 60px 0;

}
.img2 {
	padding: 260px 0;

}
.img3 {
	overflow: hidden;
}
.tree {
	float: left;
	overflow: hidden;
	width: 33.33%;

}
.train {
	float: left;
	overflow: hidden;
	width: 33.33%;
}
.for {
	background: #F3F3F3;
	border: 1px solid #E5E5E5;
	margin-top: 70px;
	overflow: hidden;
}
.for h1 {
	text-align: center;
	padding: 30px 0 8px 0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	color: #303030;
	margin-bottom: 0px;
}
.for hr {
	width: 180px;
	border: 2px solid #303030;
}
.for p {
	text-align: center;
	color:#5B5B5B;
	font-size: 16px;
	line-height: 27px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
.photo {
	float: left;
	width: 25%;
	padding: 35px 0 55px 0;

}
.blue {
	overflow: hidden;
	padding-bottom: 60px;

}
.blue h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	color: #303030;
	margin-bottom: 0px;
}
.blue hr {
	width: 180px;
	border: 2px solid #303030;
}
.image1 {
	float: left;
	overflow: hidden;
	margin-right: 30px;

}
.image1 p {
	color:#5B5B5B;
	font-size: 16px;
	line-height: 27px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
.torr {
	margin-top: 17px;
	overflow: hidden;

}
.torr input[type="text"] {
	padding: 20px 544px 200px 20px;
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	background: #F2F2F2;

}
.torr p {
	color:#5B5B5B;
	font-size: 16px;
	line-height: 27px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;

}
.torr input[type="email"] {
	padding: 25px 165px;
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	background: #F2F2F2;
	margin-top: 15px;
}
.torr input[type="submit"] {
	padding: 19px 80px;
	margin-left: 17px;
	background: #6895A8;
	color: #FFFFFF;
	border: 1px solid #6895A8;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 18px;
	margin-top: 15px;

}
.foot {
	float: left;
	overflow: hidden;
	color: #AEAEAE;
	font-family: tahoma;
	font-size: 15px;
}
.footer {
	float: right;
	color: #AEAEAE;
	font-size: 15px;
	font-family: tahoma;
}
.last {
	background: #4F4F4F;
	overflow: hidden;
	padding: 16px;

}